<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'main.css'%}">
 <script type="text/javascript">
 $(".hover").mouseleave(
  function() {
    $(this).removeClass("hover");
  }
);
 </script>
</head>
<body>
</body>
    <div id="titlediv">
      <p id="title">IT's eat</p>
    </div>
    <div id="QUIZ">
      <p id="main">{{Q_list.0}}</p>
    </div><br><br><br>
    <div id="QUIZ">
      <p id="main">{{A_list.0}}</p>
    </div>
</div>
<div id="title">
<button class="snip1535">답변 보기</button>
<button class="snip1535">다음 질문</button>
</div>
</html>