<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'main.css'%}">
 <script type="text/javascript">
 $(".hover").mouseleave(
  function() {
    $(this).removeClass("hover");
  }
);

 </script>
</head>
<body><br><br><br><br><br><br><br><br><br><br>
    <div id="titlediv">
      <p id="title">IT's eat<br>
      <small id="subtitle">기술면접을 위해 도전하세요!</small></p>
    </div>
<div id="title">
<a href="{% url 'Quizpage' %}"><button class="snip1535">시작하기</button></a>
</div>
</body>
</html>